/*** uncss> filename: src/css/shoppingcart.css ***/

/**************************
*       PAGE HEADING      *
**************************/

/**************************
*         BORDERS         *
**************************/

#content_area #cart-top-rule,
#content_area .v65-divider-hr-cell {
  border-top: 0px solid #eeeeee;
}

/* Border between cart detail rows */

#content_area .v65-cart-details-separator td {
  border-top: none;
}

/**************************
*     CART HEADER TEXT    *
**************************/

#content_area #cart-header font {
  color: black;
  line-height: 1.5em;
  text-transform: uppercase;
  padding-bottom: 5px;
  display: block;
}

/**************************
*       CART DETAILS      *
**************************/

#content_area font.carttext.colors_text,
#content_area font.carttext.colors_text b {
  color: black !important;
}

#content_area font.carttext.colors_text b.cart-item-name {
  color: #da4545 !important;
}

/* OVERRIDE */

#content_area font.carttext.colors_text b.cart-item-name:hover {
  color: #da4545 !important;
  text-decoration: underline;
}

/**************************
*          ZEBRA          *
**************************/

/**************************
*        EMPTY CART       *
**************************/

/* Empty cart container */

#content_area #v65-cart-empty-details-cell {
  border-top: 1px solid #eeeeee;
  padding: 10px 0 0 !important;
  /*!important required*/
}

/* "Click X to remove an item from your cart" text */

#content_area #v65-cart-empty-details-cell > span:first-child {
  color: black;
  font-size: 12px;
}

/* "Empty My Entire Cart" text */

#content_area #v65-cart-empty-details-cell span + span a {
  color: #da4545 !important;
}

/*  OVERRIDE  */

/***********************************
*   CART SHIPPING & GIFT OPTIONS   *
***********************************/

/******************************
*    CART SHIPPING DETAILS    *
******************************/

/* Shipping background color */

/* "Calculate shipping" text */

/*  OVERRIDE  */

/* "(optional)" text*/

/* Text color */

/*  OVERRIDE  */

/**************************
*       TAX & TOTAL       *
**************************/

/* Targets tax text */

/* Targets tax price */

/*  OVERRIDE  */

/* Targets "total" text */

/*  OVERRIDE  */

/* Total price */

/**************************
*     CHECKOUT TABLE      *
**************************/

/* Text color and size */

/* Password and Email addres text color */

/* Forgot password text */

/*****************************
*    INPUT/SELECT BORDERS    *
*****************************/

#content_area input[size],
#content_area tr.v65-cart-details-row td input {
  border: 1px solid #ccc;
  border-radius: 0;
}

/*  OVERRIDE  */

#v65-empty-cart-row td#v65-cart-empty-details-cell.v65-cart-item-remove-cell.carttext.colors_text span a {
  display: none;
}

#content_area tr.v65-cart-details-row td input:focus {
  border: 1px solid #999999;
}

/* * * * * * Shopping Cart Responsive * * * * * */

@media only screen and (max-width: 767px) {
  /*-each item spans 100%-*/

  #content_area #v65-cart-table > tbody > tr {
    overflow: visible;
    display: block;
    border: 0;
  }

  /*-each item is centered-*/

  #content_area #v65-cart-table table {
    display: table;
    width: 100%;
  }

  /*-name, price, qty is stacked-*/

  #content_area #v65-cart-table > tbody > tr.v65-cart-details-row td {
    display: block;
    text-align: center !important;
    width: 100%;
  }

  /*-name, price, qty is stacked-*/

  /*-get rid of item, desc, labels-*/

  #content_area #v65-cart-table #cart-header {
    display: none;
  }

  /*-image-*/

  #content_area td.v65-cart-detail-productimage img {
    margin-top: 15px;
  }

  #content_area #v65-cart-table td input {
    margin: 0;
  }

  /*-container for faux labels-*/

  #content_area #v65-cart-table td[width="135"] div,
  #content_area #v65-cart-table td[width="70"] div {
    padding: 0 8px;
    position: relative;
    margin: 5px 0;
  }

  /*-faux labels-*/

  #content_area #v65-cart-table td[width="70"] div:after,
  #content_area #v65-cart-table td[width="70"] div:before,
  #content_area #v65-cart-table td[width="135"] div:before {
    position: absolute;
    top: 0px;
    font-size: 14px;
    left: -120px;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #555;
  }

  /*-faux labels Price-*/

  #content_area #v65-cart-table td[width="70"] div:before {
    content: 'Each: ';
  }

  /*-faux labels QTY-*/

  #content_area #v65-cart-table td[width="70"] div:after {
    content: '';
    top: 32px;
  }

  /*-faux labels TOTAL-*/

  #content_area #v65-cart-table td[width="135"] div:before {
    content: 'Total: ';
    left: -120px;
  }

  /* remove text from discount */

  /*-remove cell-*/

  #content_area .v65-cart-item-remove-cell.v65-cart-details-text {
    border-bottom: 1px solid #eee;
  }

  /* Give "tax" and "total" a min-width for alignment purposes*/

  /* align "tax" and "total" to the left*/

  #content_area td.v65-divider-hr-cell {
    border-top: none;
  }

  #content_area #v65-cart-empty-details-cell {
    border-top: none;
  }

  /*-coupon-*/

  #content_area #v65-cart-table #v65-cart-empty-details-cell {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  /*-shipping container-*/

  /*-centers shipping container-*/

  #content_area select {
    height: 30px;
    line-height: 30px;
  }
}

@media only screen and (min-width: 768px) {
  #content_area #v65-cart-table > tbody tr,
  #content_area #v65-cart-table > tbody > tr,
  #content_area #v65-cart-table > tbody > tr:first-child,
  #content_area #v65-cart-table > tbody > tr#cart-header,
  #content_area #v65-cart-table > tbody > tr.v65-divider-hr-row,
  #content_area #v65-cart-table > tbody > tr.v65-cart-details-separator,
  #content_area #v65-cart-table .v65-cart-details-separator,
  #content_area #v65-cart-table > tbody > tr#v65-cart-footer-row,
  #content_area #v65-cart-table #cart-header,
  #content_area #v65-cart-table > tbody > tr#v65-empty-cart-row {
    overflow: visible;
    display: table-row !important;
    border: 0;
  }

  #content_area #v65-cart-table > tbody td {
    display: table-cell !important;
    width: auto !important;
  }

  #content_area #v65-cart-table > tbody > tr.v65-cart-details-row td {
    display: table-cell;
    text-align: center !important;
  }

  /*----------------VOLUSION NO SELECTORS CART------------------*/

  #content_area #v65-cart-checkout-parent {
    display: table;
    text-align: right;
  }

  #content_area #v65-cart-table td[width="70"] div:after,
  #content_area #v65-cart-table td[width="70"] div:before,
  #content_area #v65-cart-table td[width="135"] div:before {
    content: '';
  }

  #content_area #v65-cart-table table[width="145"] {
    width: 145px;
    margin: 0 auto;
  }

  #content_area #v65-cart-table table[width="75"] {
    width: 75px;
    margin: 0 auto;
  }

  #content_area #v65-cart-table td[width="70"] {
    width: 70px;
    margin: 0 auto;
  }

  #content_area #v65-cart-table td[width="0"] {
    display: table-cell !important;
  }

  #content_area .v65-cart-item-remove-cell.v65-cart-details-text {
    border: none;
  }

  #content_area td.v65-cart-detail-productimage img {
    margin-top: 0px;
  }

  /*-coupon-*/
}

/* UPDATES TO SHOPPING CART */

/*-faux labels QTY-*/

/*  HIDE EDIT ITEMS IN CART BUTTON - FIX FOR VOLUSION FORMATTING ISSUES  */

/*** uncss> filename: src/css/one-page-checkout.css ***/

/* breadcrumb and headers */

#v65-onepage-breadcrumb {
  display: none;
}

#v65-onepage-ContentTable {
  padding-top: 0px;
  margin-top: 0px;
  float: left;
  width: 45%;
}

/* billing (with related shipping items for compactedness) */

#billing-header,
#shipping-header,
#v65-checkout-payment-header {
  padding-bottom: 8px;
}

#v65-onepage-Billing input {
  font-size: 12px;
  padding: 6px 4px;
  background-color: #eee;
  border: 1px solid #CCC;
  margin-bottom: 4px;
}

#v65-onepage-Billing select {
  font-size: 13px;
  padding: 6px 4px;
  background-color: #eee;
  border: 1px solid #CCC;
  clear: both;
  margin-bottom: 4px;
}

#v65-onepage-BillingParent {
  text-align: left;
  align: left;
}

#v65-onepage-billfirstname,
#v65-onepage-billlastname,
#v65-onepage-billcompanyname,
#v65-onepage-billaddr1,
#v65-onepage-billaddr2,
#v65-onepage-billcity,
#v65-onepage-shipfirstname,
#v65-onepage-shiplastname,
#v65-onepage-shipcompanyname,
#v65-onepage-shipaddr1,
#v65-onepage-shipaddr2,
#v65-onepage-shipcity {
  width: 280px !important;
}

#v65-onepage-billpostalcode,
#v65-onepage-billphone {
  width: 165px;
}

#BillingCountry,
#BillingState_dropdown {
  width: 175px;
}

#billing-header {
  border-right: 0px !important;
}

/* registration */

/* shipping */

#v65-onepage-Shipping input,
.v65-onepage-shipping-value-cell input {
  font-size: 12px;
  padding: 6px 4px;
  background-color: #eee;
  border: 1px solid #CCC;
  margin-bottom: 4px;
}

#v65-onepage-Shipping select,
.v65-onepage-shipping-value-cell select {
  font-size: 13px;
  padding: 6px 4px;
  background-color: #eee;
  border: 1px solid #CCC;
  margin-bottom: 4px;
}

#v65-onepage-saved-shipping-table {
  background-color: transparent;
}

#v65-onepage-Shipping div {
  text-align: left !important;
}

#v65-onepage-ShippingCostDetails,
#v65-onepage-ShippingCostDetails .carttext {
  font-size: 12px;
  color: #666;
}

#v65-onepage-ShippingCost td {
  padding-left: 0px;
  margin-left: 0px;
  text-align: left !important;
}

#v65-onepage-copy-to-shipping-row td {
  height: 12px !important;
  padding: 0px;
  margin: 0px;
  line-height: 12px;
  vertical-align: top;
  text-align: left;
  padding-left: 8px;
}

#v65-onepage-CopyBillingToShippingLink {
  color: #333 !important;
  font-weight: bold;
}

#v65-onepage-Shipping {
  width: 100% !important;
}

/* payment */

#savedPayment,
#v65-onepage-payment-details-parent-row td,
#v65-onepage-payment-details-parent-table {
  text-align: left !important;
}

#savedPayment {
  /*width:50%; */
  width: 15px;
}

.v65-onepage-SavedLocations td {
  border-width: 0px !important;
}

.colors_backgroundneutral,
#v65-onepage-saved-shipping-table,
#v65-onepage-saved-shipping-table tr,
#v65-onepage-saved-shipping-table td,
#v65-onepage-saved-shipping-table .colors_backgroundneutral,
.v65-onepage-SavedLocations table {
  background-color: transparent !important;
}

#savedPayment input,
#savedPayment select,
.v65-onepage-payment-details input,
.v65-onepage-payment-details select {
  font-size: 12px;
  padding: 6px 4px;
  background-color: #eee;
  border: 1px solid #ccc;
}

#savedPayment input,
#savedPayment select {
  margin-bottom: 4px;
}

.v65-payment-details-label-cell {
  width: 105px !important;
  text-align: left;
  white-space: normal;
}

.v65-payment-details-value-cell {
  /* width:100%; */
}

#v65-onepage-payment-details-parent-row {
  width: 15px;
}

#v65-onepage-payment-details-parent-row {
  width: 460px;
}

.v65-payment-details-label-cell {
  width: 158px;
}

#savedPayment input,
.v65-payment-details-value-cell {
  margin-bottom: 8px;
  margin-top: 8px;
}

/* order summary */

#table_checkout_cart0 {
  background-color: #eee;
  margin-bottom: 5px;
  float: right;
  margin-left: 10px;
  margin-top: 5px;
  width: 250px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  #table_checkout_cart0 {
    margin-top: 20px;
  }
}

#v65-onepage-CartSummary {
  background-color: #eee;
}

#v65-onepage-MyCartImage {
  display: none;
}

.v65-onepage-ordersummary-itemtotal {
  white-space: nowrap;
}

#v65-onepage-summary-total-line,
.v65-onepage-summary-total-line-cell {
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  padding: 8px;
}

#v65-onepage-ShippingCostTotalRow  td {
  padding-top: 8px;
}

.v65-onepage-summary-total-line-img {
  display: none !important;
}

#v65-onepage-ordersummary-header-row {
  /* _display:none; */
}

#v65-onepage-ShippingCostTotalRow {
  margin-top: 15px !important;
  padding-top: 15px !important;
}

#TotalsTotalTD {
  font-size: 20px;
}



#TotalsDivContainer {
  text-align: right;
  float: right;
}

#v65-onepage-ShippingCostDetails {
  width: 100%;
  margin-right: 20px;
  padding: 15px;
  display: table;
}

#v65-onepage-ShippingCostHeader {
  display: none;
}

#v65-onepage-ordersummary-items {
  width: 100% !important;
  background-color: #eee;
}

.v65-onepage-ordersummary-itemcode {
  display: none;
}

/* misc */

#v65-onepage-MakeChanges {
  display: none;
}

.v65-onepage-Border {
  border: 0px solid transparent !important;
}

.v65-onepage-shippingcost-label {
  font-weight: normal !important;
}

#btnSubmitOrder {
  float: right;
  margin: 15px;
}

/*  OVERRIDE  */

#v65-onepage-ShippingCostTotals {
  background-color: #eee;
}

.v65-onepage-SavedLocations td {
  border-width: 0px;
  padding: 0px;
  background: transparent;
}

#content_area {
  padding-left: 0px !important;
}

.v65-onepage-custom-header-row {
  display: none;
}

.v65-onepage-custom-details-row td {
  padding: 5px;
}

/*  OVERRIDE  */

.terms {
  margin-left: 20px;
  margin-top: -19px;
}

#CalcShippingDivContainer {
  width: 300px;
}

#SessionShippingAddressDiv,
#RecalcShippingDiv {
  display: none;
}

@-moz-document url-prefix()  {
  #v65-onepage-billing td {
    padding-bottom: 15px;
  }
}

#v65-onepage-ShippingCostParent,
#v65-onepage-ShippingParent {
  margin-left: 0px;
  padding-left: 0px;
  text-align: left;
}

#v65-onepage-ShippingParent {
  width: 4px !important;
}

/*** uncss> filename: src/css/onepagecheckout.css ***/

/**************************
*      CENTER TABLE       *
**************************/

#content_area form#v65-onepage-CheckoutForm {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}



#content_area table#v65-onepage-ContentTable td {
  color: black;
}

#content_area table#v65-onepage-ContentTable td font {
  color: #d10006 !important;
}

/**************************
*    INPUTS & SELECTS     *
**************************/

#content_area table#v65-onepage-Detail td input[type="text"],
#content_area table#v65-onepage-Detail td select {
  background: white !important;
  border: 1px solid #e3e3e3;
  color: #555555;
  border-radius: 0;
  text-align: left;
  margin-bottom: 10px;
}

#content_area table#v65-onepage-Detail td input[type="text"]:focus,
#content_area table#v65-onepage-Detail td select:focus {
  border: 1px solid #e3e3e3;
}



/* Order summary background color */

#content_area #table_checkout_cart0 {
  background: #f7f7f8 !important;
  margin-top: 15px !important;
  width: 50%;
  /*Resets margin*/
}



#content_area #table_checkout_cart0 #v65-onepage-ordersummary-header-row td,
#content_area #table_checkout_cart0 #v65-onepage-ordersummary-items td,
#content_area #TotalsDivContainer b {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

/* Gift Card Amount */

#content_area #v65-onepage-ordersummary-items td {
  font-weight: normal;
  font-size: 14px;
}

#content_area #table_checkout_cart0 #v65-onepage-ordersummary-header-row td.v65-onepage-ordersummary-header {
  text-transform: uppercase;
  font-weight: normal !important;
}

#content_area #v65-onepage-ShippingCostDetails {
  margin-right: 0;
  padding-left: 0;
  padding-right: 15px;
}

#content_area #TotalsTotalTD {
  color: #d10006 !important;
  display: block;
  margin-top: 10px;
  font-weight: normal !important;
}

/*----------------VOLUSION NO SELECTORS CART------------------*/
  main#content_area.container table tbody tr td table#v65-cart-table-container tbody tr td form table#v65-cart-table tbody tr.v65-cart-details-row td.v65-item-zebra center input  {margin-top: 24px !important;max-width: 40px;min-width: 40px;text-align: center;}
  main#content_area.container table tbody tr td table#v65-cart-table-container tbody tr td form table#v65-cart-table tbody tr.v65-cart-details-row td center input {margin-top: 24px !important;max-width: 40px;min-width: 40px;text-align: center;}
  #v65-cart-table-container tbody tr td form table#v65-cart-table tbody tr.v65-cart-details-row td.v65-item-zebra div {padding-top: 34px !important;}
  #v65-cart-table-container tbody tr td form table#v65-cart-table tbody tr.v65-cart-details-row td table tbody tr td div {padding-top: 34px !important;}
  #v65-cart-table-container tbody tr td form table#v65-cart-table tbody tr.v65-cart-details-row td.v65-item-zebra table tbody tr td.v65-cart-details-text.v65-cart-details-cell {padding-top: 34px !important;}
  #v65-cart-table-container tbody tr td form table#v65-cart-table tbody tr.v65-cart-details-row td table tbody tr td.v65-cart-details-text.v65-cart-details-cell {padding-top: 34px !important;}
  #v65-cart-table-container tbody tr td form table#v65-cart-table tbody tr.v65-cart-details-row td.v65-cart-details-text.v65-cart-details-cell.v65-cart-item-remove-cell.v65-item-zebra a.v65-cart-item-remove-link img.v65-cart-item-remove-image {margin-top: 12px;}
  #v65-cart-table-container tbody tr td form table#v65-cart-table tbody tr.v65-cart-details-row td.v65-cart-details-text.v65-cart-details-cell.v65-cart-item-remove-cell a.v65-cart-item-remove-link img.v65-cart-item-remove-image {margin-top: 12px;}

  #content_area #v65-cart-table > tbody > tr.v65-cart-details-row td.v65-cart-detail-productimage + td.v65-cart-details-text {
    text-align: left !important;}

  #content_area #v65-cart-checkout-parent {
    display: table;
    text-align: right; }

  #content_area #v65-cart-shipping-details-container {
    display: table-cell; }

  #content_area #v65-cart-table td[width="70"] div:after,
  #content_area #v65-cart-table td[width="70"] div:before,
  #content_area #v65-cart-table td[width="135"] div:before {
    content: ''; }

  #content_area #v65-cart-table table[width="145"] {
    width: 145px;
    margin: 0 auto; }

  #content_area #v65-cart-table table[width="135"] {
    width: 135px; }

  #content_area #v65-cart-table table[width="75"] {
    width: 75px;
    margin: 0 auto; }

  #content_area #v65-cart-table td[width="70"] {
    width: 70px;
    margin: 0 auto; }

  #content_area #v65-cart-shipping-details td input[type="text"],
  #content_area #v65-cart-shipping-details td select {
    width: auto;
    display: inline-block; }

  #content_area #v65-cart-shipping-details td {
    display: table-cell;
    width: auto !important;
    text-align: left; }

  #content_area #v65-cart-table td[width="0"] {
    display: table-cell !important; }

  #content_area #v65-cart-table-container #v65-cart-table td.v65-cart-details-text {
    text-align: left !important; }

  #content_area #v65-cart-table-container #v65-cart-table td[valign="middle"].v65-cart-details-text {
    text-align: center !important; }

  #content_area .v65-cart-item-remove-cell.v65-cart-details-text {
    border: none; }

  #content_area .v65-cart-item-remove-cell.v65-cart-details-text .v65-cart-item-remove-link:after {
    content: '';
    padding: 0; }

  #content_area td.v65-cart-detail-productimage img {
    margin-top: 0px; }

  /*-coupon-*/
  #content_area #v65-cart-coupon-entry-details-button {
    display: inline-block; }

  #content_area #v65-coupon-table-row td {
    display: inline-block;
    width: auto;
    clear: both; }

  #content_area #v65-cart-table > tbody tr.v65-cart-total-estimate-row td,
  #content_area #v65-cart-table > tbody tr.v65-cart-tax-row td {
    text-align: right; } }

/* UPDATES TO SHOPPING CART */
  /*-faux labels QTY-*/
   

  @media (max-width:767px){
    #v65-cart-show-giftoptions-cell {
      display: block;
    }
    #content_area #v65-cart-table > tbody > tr.v65-cart-total-estimate-row td.v65-cart-details-blank,
    #content_area #v65-cart-table > tbody > tr.v65-cart-total-estimate-row td[width="0"] {
      display: none;
    }

    #content_area #v65-cart-table > tbody > tr.v65-cart-total-estimate-row td[width="0"],
    #content_area #v65-cart-table > tbody > tr.v65-cart-tax-row td[width="0"] {
      background-color: #eeeeee !important;
      
    }
    #content_area #v65-cart-table > tbody > tr.v65-cart-total-estimate-row,
    #content_area #v65-cart-table > tbody > tr.v65-cart-tax-row {
      border-left: 1px solid #e1e1e1 !important;
      border-right: 1px solid #e1e1e1 !important;
    }
    #content_area #v65-cart-table > tbody > tr.v65-cart-total-estimate-row {
      border-bottom: 1px solid #e1e1e1 !important;
    }
    #content_area #v65-cart-table > tbody > tr.v65-cart-tax-row {
      border-top: 1px solid #e1e1e1 !important;
    }
    #content_area #v65-cart-table > tbody > tr.v65-cart-total-estimate-row,
    #content_area #v65-cart-table > tbody > tr.v65-cart-tax-row {
      background-color: #eeeeee !important;
      padding-left: 10px;
    }
    #v65-cart-table-container tbody tr td form table#v65-cart-table tbody tr.v65-cart-details-row td.v65-item-zebra center input  {margin-top: 24px !important;max-width: 40px;min-width: 40px;text-align: center;}
    #v65-cart-table-container tbody tr td form table#v65-cart-table tbody tr.v65-cart-details-row td center input {margin-top: 24px !important;max-width: 40px;min-width: 40px;text-align: center;}
  
  }

/*  HIDE EDIT ITEMS IN CART BUTTON - FIX FOR VOLUSION FORMATTING ISSUES  */
#v65-onepage-CheckoutForm table#table_checkout_cart0 tbody tr.v65-onepage-custom-details-row td div#div_articleid_112 a img {
  display: none !important;
}

/*  OVERRIDE  */
#v65-onepage-CheckoutForm table#table_checkout_cart0 tbody tr#v65-cart-button-submit-row td#v65-cart-button-submit input#btnSubmitOrder {float: none;margin: 0 auto;display: block;margin-top: 0px;margin-bottom: 20px !important;}

/*  OVERRIDE  */
.terms {
  margin-left: 20px;
  margin-top: -19px;
}