	/* GRID Styles */
	/* FONTS */
	.usa p {font-family: Raavi, sans-serif; font-weight: 400; font-style: normal;}
	.usa h1 {font-family: Raavi, sans-serif; font-weight: 400; font-style: normal;}
	.usa h2, .usa h3 {font-family: Raavi, sans-serif; font-weight: 300; font-style: normal;}
	.usa section.products .product h2 {font-family: Raavi, sans-serif; font-weight: 500; font-style: normal;}

	/* COLORS */
	/* Grey */
	.usa, .usa section h1 {color: #231f20;}

	/* Dark grey */
	.usa section.products .product h2 {color: #5a5858;}

	/* Blue */
	.usa h1, .usa h2, .usa h3,
	.usa a,
	.usa a:active{color: #0076a3;}

	/* Border grey */
	.usa section.products .product,
	.usa section.products .product h2{border-color: #e3e3e3;}

	/* Red */
	.usa section.products .product ul li a {
		color: #E2001A;
		text-decoration: none;
	  	-webkit-transition: color 750ms ease;
		transition: color 750ms ease;
		cursor: pointer;
		font-weight: 400;
	}
	.usa section.products h1{font-weight: 500;}

	/* Defaults */
	.usa {padding: 0;}
	.usa p {font-size: 13px;}
	.usa a,
	.usa p a {font-size: 14px;cursor: pointer; }
	.usa p a:hover {text-decoration: underline}
	.usa p a i {font-size: 80%;}
	.usa *, .usa *:after, .usa *:before {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
	.usa img {max-width: 100%;}
	
	/* Display table */
	.usa section.products .category-block { 
	  height: 100%;
	  display: table;
	  table-layout: fixed;
	  width: 102%;
	  margin-left: -1%;
	  border-spacing: 10px;}

	.usa section.products .category-block{cell-spacing: 1%;}
	.homepage-logo img{display: block; padding-top: 20px;}

	/* All sections */
	.usa section, .usa aside {padding: 20px 0;}
	.usa section h1 {font-size: 1.6em; padding-bottom: 10px; border-bottom-style: solid; border-bottom-width: 1px;}

	/* products */
	.usa section.products .product {width: 32.33%;margin-left: 1%;padding: 9px;border-width: 1px;border-style: solid; display: table-cell;}
	.usa section.products .product h2 {font-size: 1.8em;border-bottom-width: 0px; border-bottom-style: solid;padding: 10px 5px 5px 10px; margin-bottom: 5px;}
	.usa section.products .product img  {width: 100%; max-width: 405px;}
	.usa section.products .product ul {overflow: hidden;padding: 0 25px;list-style-type: none; margin: 0 5px;}
	.usa section.products .product ul li {margin: 10px 0;}
	.usa section.products .product ul li a {font-size: 18px;font-weight:bold;}
	.usa section.products .product ul li a:hover {text-decoration: underline;}
	
	/* QUERIES */

	/* Tablet */
	@media only screen and (min-width: 0) and (max-width:1024px) {

	.usa section.products .category-block {
	  display: -webkit-box;      
	  display: -moz-box;         
	  display: -ms-flexbox;      
	  display: -webkit-flex;     
	  display: flex;   
	  -webkit-flex-wrap:wrap;
	  -ms-flex-wrap: wrap;
	  flex-wrap:wrap;
	  margin: 0;
	} 
	  .usa section h1 {font-size: 1.5em;}
	  .usa section.products .category-block {margin-left: 0%;}
	  .usa section.products .product {width: 100%;margin-left: 0%; margin-bottom: 10px;padding:0; border-width: 0px; display: block;}
	  .usa section.products .product h2 {overflow: hidden; padding-left: 0;}
	  .usa section.products .product img {float: left; margin-right: 20px;}
	}

	/* > 1025 & < 1240 */
	@media only screen and (min-width: 1025px) and (max-width: 1240px) {
		.usa section.products .product img  {width: 100%; max-width: 405px;max-height: 206px;}
	}

	/* > 600 & < 870 */
	@media only screen and (min-width: 600px) and (max-width: 870px) {
		.usa section.products .product img  {width: 100%; max-height: 228px;}
	}

	/* < 870 */
	@media only screen and (max-width: 869px) {
	  .usa section.products .product img {max-width: 330px;}
	}

	/* < 600 Mobile */
	@media only screen and (max-width: 599px) {
	  .usa section.products .product {margin-bottom: 15px;}
	  .usa section.products .product h2 {font-size: 1.8em;text-align:center;}
	  .usa section.products .product img {max-width: 405px;float: none; display: block; margin: 0 auto; }
	  .usa section.products .product ul {overflow: visible; list-style-type: none; padding: 0;text-align:center;}
	  .usa section.products .product ul li a {font-size: 18px;}
	  .usa section.products .product {display: inline-block; vertical-align: top;}/*additional style for 6 blocks*/
	  .homepage-logo img{display: block; margin: auto;padding-top: 20px;}
	}



