/* Common modules */
@font-face {
    font-family: Raavi;
    src: url(fonts/raavi.ttf);
}
article,
section {
  display: block;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}
body,
button,
input,
select,
textarea,
p,
a {
  font-family: Raavi, helvetica, sans-serif;
  color: #222;
}
a {
  color: #00e;
}
a:hover {
  color: #06e;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
b,
strong {
  font-weight: bold;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
label {
  cursor: pointer;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=button],
button {
  position: relative;
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  font-family: Arial, Helvetica, Sans-serif;
  background: transparent;
}
input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
  text-indent: 0;
}
input[type=button]::-moz-active-inner {
  margin: 0;
  padding: 0;
  text-indent: 0;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
.hidden {
  display: none;
  visibility: hidden;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
input:required,
input:error {
  background: inherit;
}
input:required:focus,
input:error:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
button {
  overflow: visible;
  width: auto;
}
body {
  font-size: 13px;
  font-family: Helvetica, Arial, Sans-serif;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
}
h1 {
  font-size: 2.2em;
  color: #333;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.88em;
  text-transform: uppercase;
  color: #888;
}
h4 .right {
  float: right;
}
.pageTitle {
  font-size: 1.6em;
  color: #161b7a;
}
p {
  margin-top: 0;
  line-height: 1.4em;
}
ul,
ol {
  margin-top: 0;
  padding-left: 1.2em;
}
ul li,
ol li {
  margin-bottom: 0.25em;
}
ul {
  list-style-type: disc;
}
ul ul {
  margin: 0.2em 0;
}
ol {
  padding-left: 1.8em;
}
ul.simple,
ol.simple {
  padding: 0;
  list-style: none;
}
ul.simple .simple,
ol.simple .simple {
  padding-left: 1em;
}
a {
  color: #06e;
}
a i {
  text-decoration: none !important;
}
body {
  overflow-x: hidden;
}
#wrapper {
  margin: 0 auto;
  zoom: 1;
  width: 1240px;
}

@media only screen and (min-width: 1024px) and (max-width: 1239px) {
  #wrapper {
    width: 978px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  #wrapper {
    overflow: hidden;
  }
}
@media only screen and (max-width: 599px) {
  #wrapper {
    overflow: hidden;
    padding: 0;
    width: 100%;
    min-width: 300px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 599px) {
  #content {
    overflow: hidden;
  }
  #wrapper,
  #toolbar {
    overflow: visible;
    position: relative;
    left: 0;
  }
}
@media only screen and (min-width: 1240px) {
  .primary li a {
    padding: 12px 20px;
  }
}
/* Forms */
legend * {
  font-size: 0.92em;
  display: inline-block;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: #011e62;
}
label {
  display: inline-block;
  vertical-align: top;
  padding: 0.5em 1em 0.33em 0;
  width: 25%;
  text-align: right;
  cursor: text;
  line-height: normal;
}
label[for],
input[type=checkbox],
input[type=radio] {
  cursor: pointer;
}
input[type=checkbox]:disabled,
input[type=radio]:disabled {
  cursor: default;
}
input[type=text],
input[type=password],
input[type=search],
input[type=email],
input[type=tel],
input[type=number],
textarea {
  margin-top: 0.1em;
  width: 39%;
  border: 1px solid #bbb;
  padding: 10px;
  margin-right: 0.5em;
  background: #fff;
  -webkit-border-radius: 0;
  border-radius: 0;
  font: 1em Arial, Helvetica, Sans-serif;
  -webkit-appearance: none;
  -o-appearance: none;
  -webkit-transition: background 0.2s ease, border 0.2s ease, box-shadow 0.2s ease;
  -moz-transition: background 0.2s ease, border 0.2s ease, box-shadow 0.2s ease;
  -o-transition: background 0.2s ease, border 0.2s ease, box-shadow 0.2s ease;
  -ms-transition: background 0.2s ease, border 0.2s ease, box-shadow 0.2s ease;
  transition: background 0.2s ease, border 0.2s ease, box-shadow 0.2s ease;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
  color: #444;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=number]:focus,
textarea:focus {
  color: #333;
  background-color: #feffd0;
  border-color: #1e249e;
  outline: 0;
  -webkit-box-shadow: 0 0 5px rgba(22,27,122,0.5);
  box-shadow: 0 0 5px rgba(22,27,122,0.5);
}
input[type=text].small,
input[type=password].small,
input[type=search].small,
input[type=email].small,
input[type=tel].small,
input[type=number].small,
textarea.small {
  width: 55px;
}
input[type=text].error,
input[type=password].error,
input[type=search].error,
input[type=email].error,
input[type=tel].error,
input[type=number].error,
textarea.error {
  background: #f2dede;
  color: #a52321;
  border-color: #a52321;
}

textarea {
  display: inline-block;
  width: 65%;
  min-height: 7em;
  height: 10em;
  max-height: 20em;
}
.search fieldset {
  margin: 0;
}
.search input {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  -webkit-border-radius: 0;
  border-radius: 0;
}

@media only screen and (max-width: 1024px) {
  input[type=text],
  input[type=password],
  input[type=search],
  input[type=email],
  input[type=tel],
  input[type=number],
  textarea {
    width: 60%;
  }
}
@media only screen and (max-width: 599px) {
  label {
    text-align: left !important;
    width: auto;
  }
  input[type=text],
  input[type=password],
  input[type=search],
  input[type=email],
  input[type=tel],
  input[type=number],
  textarea {
    width: 87%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 5px;
    font-size: inherit;
  }
}
/* Buttons */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  height: 44px;
  font-size: 1em;
}
.btn,
.btn[type=button] {
  display: inline-block;
  vertical-align: top;
  margin-top:1px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.15);
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 12px;
  min-height: 18px;
  max-height: 37px;
  min-width: 20px;
  max-width: 48px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #555;
  background: #eee;
  background: -webkit-linear-gradient(top, #eee, #dedede);
  background: -moz-linear-gradient(top, #eee, #dedede);
  background: -o-linear-gradient(top, #eee, #dedede);
  background: -ms-linear-gradient(top, #eee, #dedede);
  background: linear-gradient(to bottom, #eee, #dedede);
  -webkit-transition: border 0.2s ease;
  -moz-transition: border 0.2s ease;
  -o-transition: border 0.2s ease;
  -ms-transition: border 0.2s ease;
  transition: border 0.2s ease;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 0 rgba(255,255,255,0.2);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 0 rgba(255,255,255,0.2);
  cursor: pointer;
}
.btn:hover,
.btn[type=button]:hover,
.btn:focus,
.btn[type=button]:focus {
  border-color: #161b7a;
  border-color: rgba(0,0,0,0.5);
  color: #555;
}
.btn:active,
.btn[type=button]:active {
  position: relative;
  top: 1px;
  border-color: #161b7a;
}
@media only screen and (max-width: 1024px) {
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    height: 45.5px;
  }
  .btn,
  .btn[type=button] {
    min-height: 18px;
  }
}
/* Base */
html,
body {
  min-height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased !important;
}
body {
  background: #fff;
  overflow-x: hidden;
}
#page {
  position: relative;
}
#wrapper {
  min-height: 420px;
  background: #fff;
}
#content {
  clear: both;
}
.search {
  float: left;
  padding: 5px;
  background: #161b7a;
  background: -webkit-linear-gradient(top, #1e249e 0%, #011e62 100%);
  background: -moz-linear-gradient(top, #1e249e 0%, #011e62 100%);
  background: -o-linear-gradient(top, #1e249e 0%, #011e62 100%);
  background: -ms-linear-gradient(top, #1e249e 0%, #011e62 100%);
  background: linear-gradient(to bottom, #1e249e 0%, #011e62 100%);
  border: 0;
}
.search input {
  margin: 0;
  padding-left: 24px;
  padding-right: 10px;
  color: #555;
  font-size: 1.1em;
  width: 100%;
  border: 1px solid rgba(0,0,0,0.3);
}
.search span {
  position: absolute;
  color: #999;
  font-size: 1.5em;
  top: 50%;
  left: 10px;
  margin-top: -0.58em;
}
.search button {
  border: 1px solid #444;
  border: 1px solid rgba(0,0,0,0.3);
  padding: 8px 1em;
  min-height: 0;
  height: 33px !important;
  float: left;
  margin-left: -5px;
  padding-left: 24px;
  padding-right: 24px;
  background: #161b7a;
  background: -webkit-linear-gradient(top, #1e249e 0%, #011e62 100%);
  background: -moz-linear-gradient(top, #1e249e 0%, #011e62 100%);
  background: -o-linear-gradient(top, #1e249e 0%, #011e62 100%);
  background: -ms-linear-gradient(top, #1e249e 0%, #011e62 100%);
  background: linear-gradient(to bottom, #1e249e 0%, #011e62 100%);
  color: #eee;
  font-weight: bold;
  -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.2);
  box-shadow: inset 0 1px 1px rgba(255,255,255,0.2);
}
.search input[type=search] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
  border-color: #161b7a;
}
@media only screen and (max-width: 1024px) {
  body {
    font-size: 14px;
    background: #f5f5f5;
  }
  #wrapper {
    font-size: 14px;
  }
  #content {
    position: relative;
    clear: both;
    padding: 10px 10px 0;
    padding-top: 92px;
    z-index: 100;
    background: #fff;
    border-bottom: 1px solid #ccc;
    -webkit-box-shadow: -1px 0 1em rgba(0,0,0,0.3);
    box-shadow: -1px 0 1em rgba(0,0,0,0.3);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .search {
    float: none;
    padding: 5px;
    position: relative;
    -webkit-box-sizing: padding-box;
    -moz-box-sizing: padding-box;
    box-sizing: padding-box;
  }
  .search input {
    display: block;
    float: none;
    padding-left: 22px;
    width: 100%;
  }
  .search input:focus {
    -webkit-appearance: none;
  }
  .search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 36px !important;
  }
  .js #searchForm {
    top: -10px;
    position: absolute;
    left: 10px;
    right: 10px;
    -webkit-transition: top 0.3s ease;
    -moz-transition: top 0.3s ease;
    -o-transition: top 0.3s ease;
    -ms-transition: top 0.3s ease;
    transition: top 0.3s ease;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.3);
    box-shadow: 0 1px 0 rgba(0,0,0,0.3);
    z-index: 0;
  }
}
@media only screen and (max-width: 599px) {
  body {
    border-top: 0;
  }
  #wrapper {
    border-bottom: 0;
    padding-top: 0;
    min-width: 240px;
    font-size: 14px;
  }
  #content p {
    margin-top: 0;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  #wrapper {
    position: relative;
    width: 100%;
  }
  #content {
    position: relative;
    z-index: 1;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media only screen and (min-width: 1025px) {
  #content {
    position: relative;
    z-index: 0;
  }
  .search {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -19%;
    width: 38%;
    background: #8299df;
  }
  .search fieldset {
    overflow: hidden;
  }
  .search input,
  .search input[type=search] {
    display: block;
    width: 275px;
    padding: 10px;
    border: 0;
    height: 33px;
  }
  .search button {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}
@media only screen and (min-width: 1240px) {
  .search input,
  .search input[type=search] {
    width: 375px;
  }
}









