
img {
  border: none !important;
}

input, textarea {
  outline: none;
}

a, a:hover {
  text-decoration: none; }

a:hover {
  color: #e74f5d;
}

a, a:visited, a:active {
  outline-style: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  text-transform: uppercase; }

#refinement-wrapper h2 {
  margin-top: 10px !important;
  text-transform: none;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.search-popout__input:focus, .social a:hover, .header a:hover, .footer a:hover {
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease; }

/* CENTER ELEMENTS */
.ghost:before {
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.icon,
.ghost__content {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/*.header div[class^="col-"] { padding: 0;}*/

.header .row {
  margin: 0; 
}

.header__element {
  height: 100%;
  white-space: nowrap;
}
.header__element:before {
  min-height: 90px;
}

.header__left {
  text-align: left; }
.header__mid {
  text-align: center; }
.header__right {
  text-align: right; } 

#display_homepage_title {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  white-space: normal;
  line-height: 80px;
}
#display_homepage_title a {
  background: url('../images/template/header_bg.gif') no-repeat center center;
  display: block;
  min-width: 221px;
  height: 100%;
  text-indent: -9999px;
  width: 100%;
}

#homepage_title {
  background: none;
  font-size: 23px;
  line-height: 1.2;
  min-width: 0 !important;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Roboto', Arial, Sans-serif;
  text-indent: 0 !important;
}

@media only screen and (max-width: 767px) {
  #display_homepage_title a {
    background-size: 60%;
  }
  #homepage_title {
    font-size: 15px;
  }
}

.cart-summary a {
  color: #e74f5d;
  font-weight: bold;
}

.cart-summary [class*="icon-"] {
  margin-right: 2px;
  display: inline-block;
}

.cart-summary [class*="icon-"] img {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-top: -3px;
}

.search-popout {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: 15px; }
  .search-popout__trigger {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    cursor: pointer;
    padding: 2px 0;
    font-size: 21px;
    margin: 0; }
  .search-popout__input {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    border: 1px solid #e0e0e0;
    height: 28px;
    text-indent: 5px; }
    .search-popout__input:focus {
      outline: none;
      border-color: #da4545; }
  .search-popout__submit {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    height: 28px;
    padding: 0 6px;
    margin-left: -3px; }

.sitetools {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline; }
  .sitetools__item {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-right: 15px;
    text-transform: uppercase; }

  .sitetools [class*="icon-"] {
    margin-right: 2px;
  }

  .sitetools [class*="icon-"] img {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-top: -3px;
}

  .search-mobile {
    height: 58px;
    padding: 15px;
    display: block;
    position: relative;
    width: 100%; }

  .search-mobile .form-group {
    width: 100%;
  }
    .search-mobile__input {
      -webkit-border-radius: 0;
      border-radius: 0;
      width: 100%;
      border: 1px solid #e0e0e0;
      height: 28px;
      text-indent: 5px; }
      .search-mobile__input:focus {
        outline: none;
        border-color: #da4545; }
    .search-mobile__submit {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 30px;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      height: 28px;
      padding: 0 6px;
      margin-left: -3px; }

.sitetools {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline; }
  .sitetools__item {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-right: 15px;
    text-transform: uppercase; }

  .sitetools [class*="icon-"] {
    font-size: 0;
    margin-right: 2px;
  }

/******** NAVBAR **********/
.navbar {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 0; }

.navbar-collapse {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0; }

.navbar-toggle {
  margin: 0;
  margin-top: 1px;}

@media only screen and (max-width: 599px) {
  .navbar-toggle {
    margin: -8px 0 0 0;
    padding: 0 3px 0 10px;
  }
}

/******** FOOTER **********/
.footer {
  border-top: 1px solid #e3e3e3;
  padding: 0 15px 0 15px;}
  .footer .column {
    margin: 0;
    padding: 0;
    list-style: none; }
    .footer .column li > a {
      display: block; }
    .footer .column li {
      margin-bottom: 4px; }
    .footer .column .column__title {
      margin-bottom: 6px;
      font-weight: bold;
      color: #000;
      white-space: nowrap;
      font-family: 'Roboto', Arial, Sans-serif;
      text-transform: uppercase;
      font-size: 12px; }
    @media only screen and (min-width: 768px) {
      .footer .column {margin: 30px 0px 30px 0;}
    }
    @media only screen and (min-width: 992px) {
      .footer {margin-left: 0px;} 
    }
    @media only screen and (max-width: 991px) {
      .footer {margin-left: 0px;} 
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      footer.footer div.row div.col-sm-2.hidden-xs {width: 25%;}
      footer.footer div.row div..col-sm-3.col-sm-offset-1 {width: 100%;}
    }


.footer .panel {
  border-left: 0;
  border-right: 0; }
.footer .panel-group {
  margin-bottom: 0; }
.footer .panel-heading {
  background: #fff !important;
  padding: 0; }
  .footer .panel-heading h4 {
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto', Arial, Sans-serif;
    font-size: 12px; }
.footer .panel-group .panel + .panel {
  margin-top: 0;
  border-top: 0; }
.footer .panel-title > a {
  display: block;
  padding: 10px; }
.footer .panel-heading .accordion-toggle:after {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';
  /* essential for enabling glyphicon */
  content: "\e114";
  /* adjust as needed, taken from bootstrap.css */
  float: right;
  /* adjust as needed */
  color: #333333;
  /* adjust as needed */ }
.footer .panel-heading .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e080";
  /* adjust as needed, taken from bootstrap.css */ }
.footer .panel-body {
  padding: 15px 10px; }


.elist .elist__title {
  text-align: center;
  margin-top: 15px;
  color: #000;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Roboto', Arial, Sans-serif;
  text-transform: uppercase;
  margin-bottom: 5px; }
  @media only screen and (min-width: 768px) {
    .elist .elist__title {
      text-align: left;
      margin-top: 30px; } }
.elist form {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }
.elist .elist__input {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 6px 10px;
  display: inline-block;
  border: 1px solid #e8e8e8;
  font-size: 12px;
  width: 100%;
  margin-bottom: 10px;
  /* Firefox 18- */
  /* Firefox 19+ */
  /* Firefox 18- */
  /* Firefox 19+ */ }
  .elist .elist__input::-webkit-input-placeholder {
    color: #4d4d4d;
    font-style: normal;
    font-weight: normal; }
  .elist .elist__input:-moz-placeholder {
    color: #4d4d4d;
    font-style: normal;
    font-weight: normal; }
  .elist .elist__input::-moz-placeholder {
    color: #4d4d4d;
    font-style: normal;
    font-weight: normal; }
  .elist .elist__input:-ms-input-placeholder {
    color: #4d4d4d;
    font-style: normal;
    font-weight: normal; }
  .elist .elist__input:focus::-webkit-input-placeholder {
    color: #cccccc;
    font-style: normal;
    font-weight: normal; }
  .elist .elist__input:focus:-moz-placeholder {
    color: #cccccc;
    font-style: normal;
    font-weight: normal; }
  .elist .elist__input:focus::-moz-placeholder {
    color: #cccccc;
    font-style: normal;
    font-weight: normal; }
  .elist .elist__input:focus:-ms-input-placeholder {
    color: #cccccc;
    font-style: normal;
    font-weight: normal; }
.elist .elist__input:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #e43d4c; }
.elist .elist__submit {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 4px 10px;
  font-size: 15px;
  border: 0;
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0; }
  .elist .elist__submit {
    background-color: #c1c1c1;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font: 11px 'Roboto', Arial,sans-serif;
    margin: 0;
    padding: 0 0;
    text-align: center;
    text-transform: uppercase;
    width: 80px;
    height: 29px;
    margin-top: 1px;}
  .elist .elist__submit .icon:hover {
    color: #e74f5d;
  }
.copyright {padding-top: 20px;text-align: center;font-size: 13px;color: #aaa;padding-bottom: 20px;}
@media only screen and (min-width: 768px) {
    .copyright__item {margin: 0 15px 0 0;} 
    .copyright__text {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        padding: 0;} 
  }
.copyright__text {
  display: block;
  padding: 5px 0; 
}
.social {
  padding: 15px 0 15px;
  text-align: center; }
  .social__title {
    display: block;
    font-weight: bold;
    color: #000;
    font-family: 'Roboto', Arial, Sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 6px; }
    @media only screen and (min-width: 992px) {
      .social__title {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto; 
        *zoom: 1;
        *display: inline;
        margin-bottom: 0;
        margin-right: 8px; } }
  @media only screen and (min-width: 768px) {
    .social {
      text-align: left;
      padding: 30px 0; } }
  .social a {
    opacity: 1;
    filter: alpha(opacity=100);
    font-size: 23px;
    margin: 0 5px; }
    @media only screen and (min-width: 768px) {
      .social a {
        margin: 0 3px 0 0; } 
    }
.btn {
  text-transform: uppercase; }
  .btn.btn-primary, #content_area .deal-buy-now a {
    background-image: -moz-linear-gradient(#ec6a77, #de3945);
    background-image: -webkit-linear-gradient(#ec6a77, #de3945);
    background-image: linear-gradient(#ec6a77, #de3945); }
    .btn.btn-primary:hover, #content_area .deal-buy-now a:hover {
      background: #da4545; }

.popover.right > .arrow {
  border-right-color: rgba(0, 0, 0, 0.2); }

/*--------------------------CUSTOM STYLES-----------------------------*/

.homepage-logo {margin-top: 10px;margin-bottom: 20px;}
img.homepage-logo {display: block; margin-top: 10px;height: 57px;width: 300px;}

@media only screen and (max-width: 991px) {
  .homepage-logo {margin-bottom: 15px;}
  img.homepage-logo {margin-top: 17px;}
}

@media only screen and (max-width: 767px) {
  .homepage-logo {display: block;margin: auto;margin-top:20px;margin-bottom: 30px;}
}

.v-product-grid .v-product { 
  border-right: 1px solid #eee;
  min-height: 580px;
  margin-bottom: 30px; 
  border-bottom: 1px solid #eee;   
  margin-right: 0px;
}

.v-product-grid .v-product {width: 30%;padding: 15px 30px;margin-left: 15px;}

.features {
    background: #fff;
    clear: both;
    min-height: 35px;
    max-height: 80px;
    margin: 0;
  }
  .features ul {
    position: relative;
    white-space: nowrap;
    font-size: 0;
    text-align: center;
    list-style: none;
    list-style-image: none;
    margin: 0;
    border-bottom: 1px solid #eee;
    padding: 6px 0 3px 0;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
  }

@media only screen and (min-width: 1375px) {
  .features ul li {
    display: inline-block;
    padding: 10px 40px 10px 40px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1374px) {
  .features ul li {
    display: inline-block;
    padding: 0;
  }
}

@media only screen and (max-width: 991px) {
  .features ul {
    display: none;
  }
  .homepage-logo {margin-top: 0px;display: block;margin: 0 auto;margin-top: 10px;}
  #search-wrapper {height: 70px;}
}

.awards {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

#awards {
  margin-top: 20px;
}

.awards li {
  padding-top: 20px;
}

li#go-daddy {
  margin-left: 28px;
}

li#ups {
  margin-bottom: 20px;
}

#logo {margin: 0;padding: 0;}

@media only screen and (min-width: 992px) {
  li.icon-account{
    background-image: url(../images/icon-account.jpg);
    background-repeat: no-repeat;
    background-position: 0 .9em;
    padding-left: 1.5em;
  }
  li.icon-cart{
    background-image: url(../images/icon-cart.jpg);
    background-repeat: no-repeat;
    background-position: 0 .9em;
    padding-left: 1.5em;
  }
  li.icon-chat{
    background-image: none;
  }
}

  div#phone-number {
      font-family: 'Roboto', Arial, Sans-serif;
      font-size: 26px;
      font-weight: bold;
    }

  @media only screen and (min-width: 992px) {
    div#phone-number {
      position: absolute;
      top: 40px;
      right: 0px;
      font-family: 'Roboto', Arial, Sans-serif;
      font-size: 30px;
      font-weight: bold;
      color: #d00005;
    }
  }

  @media only screen and (min-width: 740px) and (max-width: 991px) {
    div#phone-number {
      position: absolute;
      top: 103px;
      right: 61%;
      color: #fff;
      z-index: 9999;
      font-size: 20px;
    }
  }

  @media only screen and (max-width: 739px) {
      div#phone-number {
        display:none;
      }
    }
  @media only screen and (min-width: 1375px) {
    #credit-cards {margin-left: 8px;}
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .elist form {width: 100%;}
  }
  @media only screen and (max-width: 767px) {
  #credit-cards {margin: 0 auto;display: block;padding-bottom: 15px;}
  .elist {width: 95%;}
  }
  @media only screen and (min-width: 992px) and (max-width: 1374px) {
  #credit-cards {width:239px;height:43px;}
  }
  @media only screen and (min-width: 769px) and (max-width: 991px) {
  #credit-cards {width:263px;height:48px;margin: 0 auto;display: block;}
  }

/*-------------------LOGIN PAGE-----------------------*/

span.PageText_L18n {line-height: 3em;}
span.PageText_L257n {line-height: 3em;}

